*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    width: 480px;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    background-color: #1A0DEE;
    color: white;
}

.container{
    
}