p {
    opacity: 0.5;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    margin-left: 5cm;
}

button {
    margin-left: 8.5cm;
    background-color: azure;
    margin-top: 3cm;
    margin-bottom: 1cm;
    
    color: black;
}

.p1 {
    width: 600px;
    margin: 0 auto;
    margin-left: 5.4cm;
    text-align: justify;
    padding-right: 4cm;
    
}
img{
    width: 15cm;
}