.dropdown-menu{
    background-color: red;
    color: white;
}
#dropdownMenuButton1{
    background-color: red;
    color: white;
}
.dropdown-item:hover{
    background-color: blue !important;
    color: white !important;
}
.dropdown-item{
    color: white;
}