.container {
    height: 200px;
    background-color: pink;
    display: flex;
    width: 200px;
    border: 1px solid black;
    justify-content: space-between;
}
.item1{
    background-color: blue;
    width: 3cm;
    height: 2cm;
    text-align: center;
    top: 4cm;
    align-self: center;
    color: rgb(249, 249, 249);
    padding-top: 1cm;
    margin-left: 1cm;
    align-items: center;
}