.wellcome{
    background-color: black;
    color: rgb(232, 222, 222);
    text-align: center;
}
.content{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
}
div{
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
}