u {
    color: orange;
}

h2{
    border-bottom: 2px  solid orange ;
    width: 5cm;
    
}
.td1{
    border-left: 1px solid black;
}
td{
    padding-left: 0.4cm;
}
button{
    background-color: white;
    color: orange;
    border-radius: 3px red;
    border: 2px solid orange;
}