body {
    display: grid;
    grid-template-areas:
        "logo logo logo"
        "nav nav nav"
        "column1 column2 column3"
        "column4 column5 column6";
    grid-gap: 10px;
    padding: 10px;
}

.logo {
    grid-area: logo;
    padding: 10px;
    text-align: center;
}

.nav {
    grid-area: nav;
    background-color: #b33;
    padding: 10px;
    text-align: center;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
    background-color: #b33;
    padding: 10px;
    text-align: center;
}

.column1 {
    grid-area: column1;
}

.column2 {
    grid-area: column2;
}

.column3 {
    grid-area: column3;
}

.column4 {
    grid-area: column4;
}

.column5 {
    grid-area: column5;
}

.column6 {
    grid-area: column6;
}
@media screen and (max-width:76) {
    
}