div{
    background-color: rgb(53, 133, 238);
    padding-top: 0.1cm;
    text-align: center;
}
.div1{
    color:rgb(255, 255, 255);
    text-align: center;
    padding-left: 0,7cm;
}
.a1{
    padding-left: 1cm;
    color: azure;
    text-decoration: none;
}
.div2{
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding-left: 8cm;
}
.p1{
    background-color: rgb(189, 187, 185);
    height: 2cm;
    text-align: center;
    line-height: 1.85cm;
}
img{
    border-radius: 50%;
    background-color: white;
    width: 100%;
    height: 100%;
}
